@font-face {
    font-family: 'RalewayThin';
    src: url('fonts/raleway_thin-webfont.eot');
    src: url('fonts/raleway_thin-webfont.eot?iefix') format('eot'),
         url('fonts/raleway_thin-webfont.woff') format('woff'),
         url('fonts/raleway_thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrioGrotesk';
    src: url('fonts/triogrotesk-medium.eot');
    src: url('fonts/triogrotesk-medium?iefix') format('eot'),
         url('fonts/triogrotesk-medium.woff') format('woff'),
         url('fonts/triogrotesk-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonLight';
    src: url('fonts/brandon_light-webfont.eot');
    src: url('fonts/brandon_light-webfont?iefix') format('eot'),
         url('fonts/brandon_light-webfont.woff') format('woff'),
         url('fonts/brandon_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: white;
    font-size: 62.5%;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.jumbotron{
    background: url('images/head.gif?47be43d3930a') repeat-x;
}

.present{
    padding: 4px 15px;
    margin-left:35%;
}


.present p{
    font-family: 'TrioGrotesk', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
    font-size: 14px;
    color: #9E9E9E;
}

#manifiesto{
    padding: 40px 15px;
    background-color: #FFF7F5;
}

#manifiesto h2{
    font-family: 'BrandonLight', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
    color: #59b02d;
}

#workflow{
    padding: 40px 15px;
    background-color: #FFC7C7;
}

#workflow h3{
    font-family: 'BrandonLight', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
    color: #f15041;
}

#workflow h2{
    font-family: 'BrandonLight', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
    color: #1CA49D;
}

#workflow p{
    font-family: 'Gudea', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
    color: #616161;
    font-size: 14px;
}

#proyect{
    padding: 40px 15px;
    background-color: #FFF7F5;
}

#proyect h3{
    font-family: 'BrandonLight', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
    color: #f15041;
    font-size: 45px;
}

#proyect h2{
    font-family: 'BrandonLight', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
    color: #59b02d;
}

#proyect p{
    font-family: 'Gudea', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
    color: #616161;
    font-size: 18px;
}

#contact{
    padding: 40px 15px;
    background-color: #272727;
}

#contact h2{
    font-family: 'BrandonLight', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
    color: #1CA49D;
}

#contact p{
    font-family: 'Gudea', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
    color: #616161;
    text-align: left;
}

#id_comentario{
    resize: none;
    height: 80px;
}

#footer{
    background-color: #eeeeee;
}

.copyright{
    padding: 40px 15px;
    width: 50%;
    margin: 0 auto;
    font-family: 'Gudea', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
    font-size: 13px;
    color: #616161;
    text-align: center;
}
